<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1st annivesary | Login</title>
    <meta property="og:title" content="1st annivesary" />
    <meta property="og:description" content="To.lynlyn" />
    <meta property="og:image" content="{{ url_for('static', filename='images/pic2.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background:#1e1e1e;">
    <div style="width: 300px; height: 300px; position: absolute; top: 50%; left: 50%; margin: -150px 0 0 -150px; border: 1px solid rgb(210, 151, 59);">
        <div style="height: 80px; background-color: rgb(210, 151, 59); display: flex; align-items: center; justify-content: center;">
            <p style="margin-bottom: 0px; color: white; font-style: italic; font-family : Georgia, serif; font-size: 25px;">Write down the code</p>
        </div>
        <div style="height: 220px; display: flex; align-items: center; justify-content: center;">
            <form class="form-inline" action="/login_process" method="POST">
                <div class="form-group mx-sm-3 mb-2" style="margin-left: 0 !important; margin-bottom: 0 !important;">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Code" name="code">
                </div>
                <button type="submit" class="btn btn-warning mb-2" style="color: white; font-style: italic; font-family : Georgia, serif; margin-bottom: 0 !important;">Login</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>