<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Education</title>
    <style>
        div {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div id="four_rule_cal">
        <h2>1. 자연수의 사칙연산</h2>
        <p id="four_rule_plus"><span id="four_rule_plus_span"></span><input id="plus_input" style="width: 154px;" type="text" name="plus_input_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;" id="plus_answer_check"></span><button style="margin-left: 20px;" onclick="plus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="plus_refresh()">새로고침</button>
        </p>
        <p id="four_rule_minus"><span id="four_rule_minus_span"></span><input id="minus_input" style="width: 154px;" type="text" name="minus_input_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;" id="minus_answer_check"></span><button style="margin-left: 20px;"
                onclick="minus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="minus_refresh()">새로고침</button>
        </p>
        <p id="four_rule_multiply"><span id="four_rule_multiply_span"></span><input id="multiply_input" style="width: 154px;" type="text" name="multiply_input_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;" id="multiply_answer_check"></span><button style="margin-left: 20px;"
                onclick="multiply_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="multiply_refresh()">새로고침</button>
        </p>
        <p id="four_rule_divide"><span id="four_rule_divide_span"></span><input id="divide_input" style="width: 154px;" type="text" name="divide_input_box" placeholder="몫을 입력해주세요."><span style="margin-left: 20px;" id="divide_answer_check"></span><button style="margin-left: 20px;"
                onclick="divide_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="divide_refresh()">새로고침</button>
        </p>

        <h2>2. 방정식의 해 구하기('X'값 구하기)</h2>
        <p id="equation_plus"><span id="equation_plus_span" style="margin-right: 40px;"></span>X :<input id="plus_equation_input" style="width: 154px; margin-left: 7px; height: 12px;" type="text" name="equation_plus_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;"
                id="plus_x_check"></span>
            <button style="margin-left: 20px;" onclick="equation_plus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="equation_plus_refresh()">새로고침</button></p>
        <p id="equation_minus"><span id="equation_minus_span" style="margin-right: 40px;"></span>X :<input id="minus_equation_input" style="width: 154px; margin-left: 7px; height: 12px;" type="text" name="equation_minus_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;"
                id="minus_x_check"></span>
            <button style="margin-left: 20px;" onclick="equation_minus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="equation_minus_refresh()">새로고침</button></p>
        <p id="equation_multiply"><span id="equation_multiply_span" style="margin-right: 40px;"></span>X :<input id="multiply_equation_input" style="width: 154px; margin-left: 7px; height: 12px;" type="text" name="equation_multiply_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;"
                id="multiply_x_check"></span>
            <button style="margin-left: 20px;" onclick="equation_multiply_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="equation_multiply_refresh()">새로고침</button></p>
        <p id="equation_divide"><span id="equation_divide_span" style="margin-right: 40px;"></span>X :<input id="divide_equation_input" style="width: 154px; margin-left: 7px; height: 12px;" type="text" name="equation_divide_box" placeholder="자연수를 입력해주세요."><span style="margin-left: 20px;"
                id="divide_x_check"></span>
            <button style="margin-left: 20px;" onclick="equation_divide_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="equation_divide_refresh()">새로고침</button></p>

        <h2>3. 분수 사칙연산(약분해서 정답을 기입할 것)</h2>
        <p id="fraction_plus"><span><sup id="fraction_plus_upper_first" style="font-size: 20px;"></sup>/<sub id="fraction_plus_lower_first" style="font-size: 20px;"></sub> + <sup id="fraction_plus_upper_second" style="font-size: 20px;"></sup>/<sub id="fraction_plus_lower_second" style="font-size: 20px;"></sub></span>            =
            <sup><input id="fraction_plus_input_upper" name="fraction_plus_input_upper" style="width: 25px; text-align: right;" placeholder="분자"></sup>/<sub><input id="fraction_plus_input_lower" name="fraction_plus_input_lower" style="width: 25px;" placeholder="분모"></sub>
            <span id="fraction_plus_check_span" style="margin-left: 20px;"></span>
            <button style="margin-left: 20px;" onclick="fraction_plus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="fraction_plus_refresh()">새로고침</button>
        </p>

        <p id="fraction_minus"><span><sup id="fraction_minus_upper_first" style="font-size: 20px;"></sup>/<sub id="fraction_minus_lower_first" style="font-size: 20px;"></sub> - <sup id="fraction_minus_upper_second" style="font-size: 20px;"></sup>/<sub id="fraction_minus_lower_second" style="font-size: 20px;"></sub></span>            =
            <sup><input id="fraction_minus_input_upper" name="fraction_minus_input_upper" style="width: 25px; text-align: right;" placeholder="분자"></sup>/<sub><input id="fraction_minus_input_lower" name="fraction_minus_input_lower" style="width: 25px;" placeholder="분모"></sub>
            <span id="fraction_minus_check_span" style="margin-left: 20px;"></span>
            <button style="margin-left: 20px;" onclick="fraction_minus_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="fraction_minus_refresh()">새로고침</button>
        </p>

        <p id="fraction_multiply"><span><sup id="fraction_multiply_upper_first" style="font-size: 20px;"></sup>/<sub id="fraction_multiply_lower_first" style="font-size: 20px;"></sub> * <sup id="fraction_multiply_upper_second" style="font-size: 20px;"></sup>/<sub id="fraction_multiply_lower_second" style="font-size: 20px;"></sub></span>            =
            <sup><input id="fraction_multiply_input_upper" name="fraction_multiply_input_upper" style="width: 25px; text-align: right;" placeholder="분자"></sup>/<sub><input id="fraction_multiply_input_lower" name="fraction_multiply_input_lower" style="width: 25px;" placeholder="분모"></sub>
            <span id="fraction_multiply_check_span" style="margin-left: 20px;"></span>
            <button style="margin-left: 20px;" onclick="fraction_multiply_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="fraction_multiply_refresh()">새로고침</button>
        </p>

        <p id="fraction_divide"><span><sup id="fraction_divide_upper_first" style="font-size: 20px;"></sup>/<sub id="fraction_divide_lower_first" style="font-size: 20px;"></sub> ÷ <sup id="fraction_divide_upper_second" style="font-size: 20px;"></sup>/<sub id="fraction_divide_lower_second" style="font-size: 20px;"></sub></span>            =
            <sup><input id="fraction_divide_input_upper" name="fraction_divide_input_upper" style="width: 25px; text-align: right;" placeholder="분자"></sup>/<sub><input id="fraction_divide_input_lower" name="fraction_divide_input_lower" style="width: 25px;" placeholder="분모"></sub>
            <span id="fraction_divide_check_span" style="margin-left: 20px;"></span>
            <button style="margin-left: 20px;" onclick="fraction_divide_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="fraction_divide_refresh()">새로고침</button>
        </p>

        <h2>4. 두 시간의 합(분에서 시간으로 받아올림이 필요한 경우, 받아올림하여 정답을 기입할 것)</h2>
        <p id="sum_of_time"><span id="first_time_hour"></span>시간 <span id="first_time_minute"></span>분 + <span id="second_time_hour"></span>시간 <span id="second_time_minute"></span>분 = <input id="hour_input" name="hour_input" style="width: 20px; text-align: right;" type="text">시간
            <input id="minute_input" name="minute_input" style="width: 20px; text-align: right;" type="text">분 <span id="sum_of_time_check_span" style="margin-left: 20px;"></span><button style="margin-left: 20px;" onclick="sum_of_time_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="sum_of_time_refresh()">새로고침</button>
        </p>

        <h2>5. 원주 구하기</h2>
        <p style="margin-bottom: 0px;"><span id="circle_span"></span></p>
        <p style="margin-top: 0px; margin-left: 30px;">반지름 : <span id="radius_span" style=" margin-right: 100px;"></span> 정답 : <input id="circle_user_input" name="circle_user_input" style="margin-left: 5px; width: 45px; margin-right: 5px; text-align: right;" type="text">π<span id="circle_check_span"
                style="margin-left: 20px;"></span>
            <button style="margin-left: 20px;" onclick="circle_check()">정답 확인</button>
            <button style="margin-left: 20px;" onclick="circle_refresh()">새로고침</button>
        </p>

    </div>



    <script>
        /*자연수의 사칙연산*/
        // 초기 plus 연산 피연산자 설정
        let random_number_1 = Math.floor(Math.random() * 50);
        let random_number_2 = Math.floor(Math.random() * 50);
        $("#four_rule_plus_span").text(`${random_number_1} + ${random_number_2} = `);

        // 초기 minus 연산 피연산자 설정
        let random_number_3 = Math.floor(Math.random() * 50);
        let random_number_4 = Math.floor(Math.random() * 50);

        // 첫번째 피연산자가 두번째 피연산자보다 무조건 크도록 while문 호출
        while (random_number_3 < random_number_4) {

            random_number_3 = Math.floor(Math.random() * 50);
            random_number_4 = Math.floor(Math.random() * 50);
        }
        $("#four_rule_minus_span").text(`${random_number_3} - ${random_number_4} = `);

        // 초기 multiply 연산 피연산자 설정
        let random_number_5 = Math.floor(Math.random() * 50);
        let random_number_6 = Math.floor(Math.random() * 50);
        $("#four_rule_multiply_span").text(`${random_number_5} * ${random_number_6} = `);

        // 초기 divide 연산 피연산자 설정
        let random_number_7 = Math.floor(Math.random() * 50);
        let random_number_8 = Math.floor(Math.random() * 50);

        // 첫번째 피연산자가 두번째 피연산자보다 무조건 크도록 while문 호출
        while (random_number_7 < random_number_8) {

            random_number_7 = Math.floor(Math.random() * 50);
            random_number_8 = Math.floor(Math.random() * 50);
        }
        $("#four_rule_divide_span").text(`${random_number_7} ÷ ${random_number_8} = `);

        function plus_refresh() {

            random_number_1 = Math.floor(Math.random() * 50);
            random_number_2 = Math.floor(Math.random() * 50);
            $("#four_rule_plus_span").empty();
            $("#four_rule_plus_span").text(`${random_number_1} + ${random_number_2} = `);
            $("#plus_answer_check").empty();
            $("#plus_input").val('');
        }

        function minus_refresh() {

            random_number_3 = Math.floor(Math.random() * 50);
            random_number_4 = Math.floor(Math.random() * 50);
            while (random_number_3 < random_number_4) {

                random_number_3 = Math.floor(Math.random() * 50);
                random_number_4 = Math.floor(Math.random() * 50);
            }
            $("#four_rule_minus_span").empty();
            $("#four_rule_minus_span").text(`${random_number_3} - ${random_number_4} = `);
            $("#minus_answer_check").empty();
            $("#minus_input").val('');
        }

        function multiply_refresh() {

            random_number_5 = Math.floor(Math.random() * 50);
            random_number_6 = Math.floor(Math.random() * 50);
            $("#four_rule_multiply_span").empty();
            $("#four_rule_multiply_span").text(`${random_number_5} * ${random_number_6} = `);
            $("#multiply_answer_check").empty();
            $("#multiply_input").val('');
        }

        function divide_refresh() {

            random_number_7 = Math.floor(Math.random() * 50);
            random_number_8 = Math.floor(Math.random() * 50);
            while (random_number_7 < random_number_8) {

                random_number_7 = Math.floor(Math.random() * 50);
                random_number_8 = Math.floor(Math.random() * 50);
            }
            $("#four_rule_divide_span").empty();
            $("#four_rule_divide_span").text(`${random_number_7} / ${random_number_8} = `);
            $("#divide_answer_check").empty();
            $("#divide_input").val('');
        }

        function plus_check() {

            let user_answer = $("input[name=plus_input_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = random_number_1 + random_number_2;
            if (user_answer != real_answer) {

                $("#plus_answer_check").text('틀렸습니다.');
            } else {

                $("#plus_answer_check").text('맞았습니다.');
            }
        }

        function minus_check() {

            let user_answer = $("input[name=minus_input_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = random_number_3 - random_number_4;
            if (user_answer != real_answer) {

                $("#minus_answer_check").text('틀렸습니다.');
            } else {

                $("#minus_answer_check").text('맞았습니다.');
            }
        }

        function multiply_check() {

            let user_answer = $("input[name=multiply_input_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = random_number_5 * random_number_6;
            if (user_answer != real_answer) {

                $("#multiply_answer_check").text('틀렸습니다.');
            } else {

                $("#multiply_answer_check").text('맞았습니다.');
            }
        }

        function divide_check() {

            let user_answer = $("input[name=divide_input_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = parseInt(random_number_7 / random_number_8);
            if (user_answer != real_answer) {

                $("#divide_answer_check").text('틀렸습니다.');
            } else {

                $("#divide_answer_check").text('맞았습니다.');
            }
        }

        /*방정식의 해 구하기*/
        // 방정식 해 구하기 초기값 설정
        let equation_plus_constant = Math.floor(Math.random() * 50);
        let equation_plus_answer = Math.floor(Math.random() * 50);
        while (equation_plus_constant > equation_plus_answer) {

            equation_plus_constant = Math.floor(Math.random() * 50);
            equation_plus_answer = Math.floor(Math.random() * 50);
        }
        $("#equation_plus_span").text(`${equation_plus_constant} + X = ${equation_plus_answer}`);

        let equation_minus_constant = Math.floor(Math.random() * 50);
        let equation_minus_answer = Math.floor(Math.random() * 50);
        while (equation_minus_constant < equation_minus_answer) {

            equation_minus_constant = Math.floor(Math.random() * 50);
            equation_minus_answer = Math.floor(Math.random() * 50);
        }
        $("#equation_minus_span").text(`${equation_minus_constant} - X = ${equation_minus_answer}`);

        // 약수들을 구하고 그 중 하나를 return하는 함수
        function divisors(integer) {
            // console.log(integer);
            let divisor_list = [];
            for (var i = 2; i < integer; i++) {
                if (integer % i == 0) {
                    divisor_list.push(i);
                }
            }
            console.log(divisor_list);
            let picked_divisor = divisor_list[Math.floor(Math.random() * divisor_list.length)];
            return picked_divisor;
        }

        // equation_mulyiply_answer가 소수인지 아닌지 판별하는 함수
        function chkPrime(integer) {
            for (var i = 2; i < integer; i++) {
                var result = integer % i;
                if (result == 0) {
                    return false;
                };
            };
            return true;
        }

        let equation_multiply_answer = Math.floor(Math.random() * 300);
        while (equation_multiply_answer == 1 || chkPrime(equation_multiply_answer)) {

            equation_multiply_answer = Math.floor(Math.random() * 300);
        }
        let equation_multiply_constant = divisors(equation_multiply_answer);
        $("#equation_multiply_span").text(`${equation_multiply_constant} * X = ${equation_multiply_answer}`);

        let equation_divide_constant = Math.floor(Math.random() * 300);
        while (equation_divide_constant == 1 || chkPrime(equation_divide_constant)) {

            equation_divide_constant = Math.floor(Math.random() * 300);
        }
        let equation_divide_answer = divisors(equation_divide_constant);
        $("#equation_divide_span").text(`${equation_divide_constant} ÷ X = ${equation_divide_answer}`);

        function equation_plus_check() {

            let user_answer = $("input[name=equation_plus_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = equation_plus_answer - equation_plus_constant;
            if (user_answer != real_answer) {

                $("#plus_x_check").text('틀렸습니다.');
            } else {

                $("#plus_x_check").text('맞았습니다.');
            }
        }

        function equation_minus_check() {

            let user_answer = $("input[name=equation_minus_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = equation_minus_constant - equation_minus_answer;
            if (user_answer != real_answer) {

                $("#minus_x_check").text('틀렸습니다.');
            } else {

                $("#minus_x_check").text('맞았습니다.');
            }
        }

        function equation_multiply_check() {

            let user_answer = $("input[name=equation_multiply_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = parseInt(equation_multiply_answer / equation_multiply_constant);
            if (user_answer != real_answer) {

                $("#multiply_x_check").text('틀렸습니다.');
            } else {

                $("#multiply_x_check").text('맞았습니다.');
            }
        }

        function equation_divide_check() {

            let user_answer = $("input[name=equation_divide_box]").val();
            user_answer = parseInt(user_answer);
            console.log(user_answer);
            console.log(typeof(user_answer));

            let real_answer = equation_divide_constant / equation_divide_answer;
            if (user_answer != real_answer) {

                $("#divide_x_check").text('틀렸습니다.');
            } else {

                $("#divide_x_check").text('맞았습니다.');
            }
        }

        function equation_plus_refresh() {

            equation_plus_constant = Math.floor(Math.random() * 50);
            equation_plus_answer = Math.floor(Math.random() * 50);
            while (equation_plus_constant > equation_plus_answer) {

                equation_plus_constant = Math.floor(Math.random() * 50);
                equation_plus_answer = Math.floor(Math.random() * 50);
            }
            $("#equation_plus_span").empty();
            $("#equation_plus_span").text(`${equation_plus_constant} + X = ${equation_plus_answer}`);
            $("#plus_x_check").empty();
            $("#plus_equation_input").val('');
        }

        function equation_minus_refresh() {

            equation_minus_constant = Math.floor(Math.random() * 50);
            equation_minus_answer = Math.floor(Math.random() * 50);
            while (equation_minus_constant < equation_minus_answer) {

                equation_minus_constant = Math.floor(Math.random() * 50);
                equation_minus_answer = Math.floor(Math.random() * 50);
            }
            $("#equation_minus_span").empty();
            $("#equation_minus_span").text(`${equation_minus_constant} - X = ${equation_minus_answer}`);
            $("#minus_x_check").empty();
            $("#minus_equation_input").val('');
        }

        function equation_multiply_refresh() {

            equation_multiply_answer = Math.floor(Math.random() * 300);
            while (equation_multiply_answer == 1 || chkPrime(equation_multiply_answer)) {

                equation_multiply_answer = Math.floor(Math.random() * 300);
            }
            equation_multiply_constant = divisors(equation_multiply_answer);
            $("#equation_multiply_span").empty();
            $("#equation_multiply_span").text(`${equation_multiply_constant} * X = ${equation_multiply_answer}`);
            $("#multiply_x_check").empty();
            $("#multiply_equation_input").val('');
        }

        function equation_divide_refresh() {

            equation_divide_constant = Math.floor(Math.random() * 300);
            while (equation_divide_constant == 1 || chkPrime(equation_divide_constant)) {

                equation_divide_constant = Math.floor(Math.random() * 300);
            }
            equation_divide_answer = divisors(equation_divide_constant);
            $("#equation_divide_span").empty();
            $("#equation_divide_span").text(`${equation_divide_constant} / X = ${equation_divide_answer}`);
            $("#divide_x_check").empty();
            $("#divide_equation_input").val('');
        }

        /* 분수 사칙연산 */
        // 최대공약수와 최소공배수를 반환하는 함수
        function gcdlcm(a, b) {

            if (a == 1 && b == 1) {

                return [1, 1]
            } else if (a == 1 && b != 1) {

                return [1, b]
            } else if (b == 1 && a != 1) {

                return [1, a]
            } else if (a == b) {

                return 'same'
            }
            let gcd = 1;
            let lcm = 1;
            for (let i = 1; i <= Math.min(a, b); i++) {
                if ((a % i == 0) && (b % i == 0)) {
                    gcd = i
                }
            }
            lcm = a * b / gcd
            return [gcd, lcm]
        }

        // 분수 사칙연산 초기값 설정
        let fraction_plus_upper_first = Math.floor(Math.random() * 10);
        while (fraction_plus_upper_first == 0) {

            fraction_plus_upper_first = Math.floor(Math.random() * 10);
        }
        let fraction_plus_lower_first = Math.floor(Math.random() * 10);
        while (fraction_plus_lower_first == 0) {

            fraction_plus_lower_first = Math.floor(Math.random() * 10);
        }
        let fraction_plus_upper_second = Math.floor(Math.random() * 10);
        while (fraction_plus_upper_second == 0) {

            fraction_plus_upper_second = Math.floor(Math.random() * 10);
        }
        let fraction_plus_lower_second = Math.floor(Math.random() * 10);
        while (fraction_plus_lower_second == 0) {

            fraction_plus_lower_second = Math.floor(Math.random() * 10);
        }

        $("#fraction_plus_upper_first").text(`${fraction_plus_upper_first}`);
        $("#fraction_plus_lower_first").text(`${fraction_plus_lower_first}`);
        $("#fraction_plus_upper_second").text(`${fraction_plus_upper_second}`);
        $("#fraction_plus_lower_second").text(`${fraction_plus_lower_second}`);

        let fraction_minus_upper_first = Math.floor(Math.random() * 10);
        while (fraction_minus_upper_first == 0) {

            fraction_minus_upper_first = Math.floor(Math.random() * 10);
        }
        let fraction_minus_lower_first = Math.floor(Math.random() * 10);
        while (fraction_minus_lower_first == 0) {

            fraction_minus_lower_first = Math.floor(Math.random() * 10);
        }
        let fraction_minus_upper_second = Math.floor(Math.random() * 10);
        while (fraction_minus_upper_second == 0) {

            fraction_minus_upper_second = Math.floor(Math.random() * 10);
        }
        let fraction_minus_lower_second = Math.floor(Math.random() * 10);
        while (fraction_minus_lower_second == 0) {

            fraction_minus_lower_second = Math.floor(Math.random() * 10);
        }
        while ((fraction_minus_upper_first / fraction_minus_lower_first) - (fraction_minus_upper_second / fraction_minus_lower_second) <= 0) {

            fraction_minus_upper_first = Math.floor(Math.random() * 10);
            while (fraction_minus_upper_first == 0) {

                fraction_minus_upper_first = Math.floor(Math.random() * 10);
            }

            fraction_minus_lower_first = Math.floor(Math.random() * 10);
            while (fraction_minus_lower_first == 0) {

                fraction_minus_lower_first = Math.floor(Math.random() * 10);
            }

            fraction_minus_upper_second = Math.floor(Math.random() * 10);
            while (fraction_minus_upper_second == 0) {

                fraction_minus_upper_second = Math.floor(Math.random() * 10);
            }

            fraction_minus_lower_second = Math.floor(Math.random() * 10);
            while (fraction_minus_lower_second == 0) {

                fraction_minus_lower_second = Math.floor(Math.random() * 10);
            }
        }

        $("#fraction_minus_upper_first").text(`${fraction_minus_upper_first}`);
        $("#fraction_minus_lower_first").text(`${fraction_minus_lower_first}`);
        $("#fraction_minus_upper_second").text(`${fraction_minus_upper_second}`);
        $("#fraction_minus_lower_second").text(`${fraction_minus_lower_second}`);

        let fraction_multiply_upper_first = Math.floor(Math.random() * 10);
        while (fraction_multiply_upper_first == 0) {

            fraction_multiply_upper_first = Math.floor(Math.random() * 10);
        }
        let fraction_multiply_lower_first = Math.floor(Math.random() * 10);
        while (fraction_multiply_lower_first == 0) {

            fraction_multiply_lower_first = Math.floor(Math.random() * 10);
        }
        let fraction_multiply_upper_second = Math.floor(Math.random() * 10);
        while (fraction_multiply_upper_second == 0) {

            fraction_multiply_upper_second = Math.floor(Math.random() * 10);
        }
        let fraction_multiply_lower_second = Math.floor(Math.random() * 10);
        while (fraction_multiply_lower_second == 0) {

            fraction_multiply_lower_second = Math.floor(Math.random() * 10);
        }

        $("#fraction_multiply_upper_first").text(`${fraction_multiply_upper_first}`);
        $("#fraction_multiply_lower_first").text(`${fraction_multiply_lower_first}`);
        $("#fraction_multiply_upper_second").text(`${fraction_multiply_upper_second}`);
        $("#fraction_multiply_lower_second").text(`${fraction_multiply_lower_second}`);

        let fraction_divide_upper_first = Math.floor(Math.random() * 10);
        while (fraction_divide_upper_first == 0) {

            fraction_divide_upper_first = Math.floor(Math.random() * 10);
        }
        let fraction_divide_lower_first = Math.floor(Math.random() * 10);
        while (fraction_divide_lower_first == 0) {

            fraction_divide_lower_first = Math.floor(Math.random() * 10);
        }
        let fraction_divide_upper_second = Math.floor(Math.random() * 10);
        while (fraction_divide_upper_second == 0) {

            fraction_divide_upper_second = Math.floor(Math.random() * 10);
        }
        let fraction_divide_lower_second = Math.floor(Math.random() * 10);
        while (fraction_divide_lower_second == 0) {

            fraction_divide_lower_second = Math.floor(Math.random() * 10);
        }

        $("#fraction_divide_upper_first").text(`${fraction_divide_upper_first}`);
        $("#fraction_divide_lower_first").text(`${fraction_divide_lower_first}`);
        $("#fraction_divide_upper_second").text(`${fraction_divide_upper_second}`);
        $("#fraction_divide_lower_second").text(`${fraction_divide_lower_second}`);

        // fraction 정답 확인 함수 선언
        function fraction_plus_check() {

            // console.log(fraction_plus_upper_first);
            // console.log(fraction_plus_lower_first);
            // console.log(fraction_plus_upper_second);
            // console.log(fraction_plus_lower_second);

            let gcd_and_lcm = gcdlcm(fraction_plus_lower_first, fraction_plus_lower_second);
            if (gcd_and_lcm == "same") {

                let answer_upper = fraction_plus_upper_first + fraction_plus_upper_second;
                let answer_lower = fraction_plus_lower_first;

                gcd_and_lcm = gcdlcm(answer_upper, answer_lower);
                let answer_gcd = gcd_and_lcm[0];
                let answer_lcm = gcd_and_lcm[1];

                answer_upper = answer_upper / answer_gcd;
                answer_lower = answer_lower / answer_gcd;

                console.log(answer_upper);
                console.log(answer_lower);

                let user_fraction_plus_input_upper = $("input[name=fraction_plus_input_upper]").val();
                let user_fraction_plus_input_lower = $("input[name=fraction_plus_input_lower]").val();
                user_fraction_plus_input_upper = parseInt(user_fraction_plus_input_upper);
                user_fraction_plus_input_lower = parseInt(user_fraction_plus_input_lower);

                if (answer_upper == user_fraction_plus_input_upper && answer_lower == user_fraction_plus_input_lower) {

                    $("#fraction_plus_check_span").text("맞았습니다.");
                } else {

                    $("#fraction_plus_check_span").text("틀렸습니다.");
                }
            } else {
                let gcd = gcd_and_lcm[0]
                let lcm = gcd_and_lcm[1]

                console.log('gcd :', gcd);
                console.log('lcm :', lcm);

                let picked_constant_for_upper_first = lcm / fraction_plus_lower_first;
                let picked_constant_for_upper_second = lcm / fraction_plus_lower_second;

                console.log(picked_constant_for_upper_first);
                console.log(picked_constant_for_upper_second);

                let multiplied_upper_first = fraction_plus_upper_first * picked_constant_for_upper_first;
                let multiplied_upper_second = fraction_plus_upper_second * picked_constant_for_upper_second;

                console.log(multiplied_upper_first);
                console.log(multiplied_upper_second);

                let answer_upper = multiplied_upper_first + multiplied_upper_second;
                let answer_lower = lcm

                gcd_and_lcm = gcdlcm(answer_upper, answer_lower);
                let answer_gcd = gcd_and_lcm[0];
                let answer_lcm = gcd_and_lcm[1];

                answer_upper = answer_upper / answer_gcd;
                answer_lower = answer_lower / answer_gcd;

                console.log(answer_upper);
                console.log(answer_lower);

                let user_fraction_plus_input_upper = $("input[name=fraction_plus_input_upper]").val();
                let user_fraction_plus_input_lower = $("input[name=fraction_plus_input_lower]").val();
                user_fraction_plus_input_upper = parseInt(user_fraction_plus_input_upper);
                user_fraction_plus_input_lower = parseInt(user_fraction_plus_input_lower);

                if (answer_upper == user_fraction_plus_input_upper && answer_lower == user_fraction_plus_input_lower) {

                    $("#fraction_plus_check_span").text("맞았습니다.");
                } else {

                    $("#fraction_plus_check_span").text("틀렸습니다.");
                }
            }

        }

        function fraction_minus_check() {

            // console.log(fraction_plus_upper_first);
            // console.log(fraction_plus_lower_first);
            // console.log(fraction_plus_upper_second);
            // console.log(fraction_plus_lower_second);

            let gcd_and_lcm = gcdlcm(fraction_minus_lower_first, fraction_minus_lower_second);
            let gcd = gcd_and_lcm[0]
            let lcm = gcd_and_lcm[1]

            console.log(gcd);
            console.log(lcm);

            let picked_constant_for_minus_first = lcm / fraction_minus_lower_first;
            let picked_constant_for_minus_second = lcm / fraction_minus_lower_second;

            console.log(picked_constant_for_minus_first);
            console.log(picked_constant_for_minus_second);

            let multiplied_upper_first = fraction_minus_upper_first * picked_constant_for_minus_first;
            let multiplied_upper_second = fraction_minus_upper_second * picked_constant_for_minus_second;

            console.log(multiplied_upper_first);
            console.log(multiplied_upper_second);

            let answer_upper = multiplied_upper_first - multiplied_upper_second;
            let answer_lower = lcm

            gcd_and_lcm = gcdlcm(answer_upper, answer_lower);
            let answer_gcd = gcd_and_lcm[0];
            let answer_lcm = gcd_and_lcm[1];

            answer_upper = answer_upper / answer_gcd;
            answer_lower = answer_lower / answer_gcd;

            console.log(answer_upper);
            console.log(answer_lower);

            let user_fraction_minus_input_upper = $("input[name=fraction_minus_input_upper]").val();
            let user_fraction_minus_input_lower = $("input[name=fraction_minus_input_lower]").val();
            user_fraction_minus_input_upper = parseInt(user_fraction_minus_input_upper);
            user_fraction_minus_input_lower = parseInt(user_fraction_minus_input_lower);
            if (answer_upper == user_fraction_minus_input_upper && answer_lower == user_fraction_minus_input_lower) {

                $("#fraction_minus_check_span").text("맞았습니다.");
            } else {

                $("#fraction_minus_check_span").text("틀렸습니다.");
            }

        }

        function fraction_multiply_check() {

            let answer_upper = fraction_multiply_upper_first * fraction_multiply_upper_second;
            let answer_lower = fraction_multiply_lower_first * fraction_multiply_lower_second;

            let gcd_and_lcm = gcdlcm(answer_upper, answer_lower);
            let answer_gcd = gcd_and_lcm[0];
            let answer_lcm = gcd_and_lcm[1];

            answer_upper = answer_upper / answer_gcd;
            answer_lower = answer_lower / answer_gcd;

            let user_fraction_multiply_input_upper = $("input[name=fraction_multiply_input_upper]").val();
            let user_fraction_multiply_input_lower = $("input[name=fraction_multiply_input_lower]").val();
            user_fraction_multiply_input_upper = parseInt(user_fraction_multiply_input_upper);
            user_fraction_multiply_input_lower = parseInt(user_fraction_multiply_input_lower);
            if (answer_upper == user_fraction_multiply_input_upper && answer_lower == user_fraction_multiply_input_lower) {

                $("#fraction_multiply_check_span").text("맞았습니다.");
            } else {

                $("#fraction_multiply_check_span").text("틀렸습니다.");
            }

        }

        function fraction_divide_check() {

            let answer_upper = fraction_divide_upper_first * fraction_divide_lower_second;
            let answer_lower = fraction_divide_lower_first * fraction_divide_upper_second;

            let gcd_and_lcm = gcdlcm(answer_upper, answer_lower);
            let answer_gcd = gcd_and_lcm[0];
            let answer_lcm = gcd_and_lcm[1];

            answer_upper = answer_upper / answer_gcd;
            answer_lower = answer_lower / answer_gcd;

            let user_fraction_divide_input_upper = $("input[name=fraction_divide_input_upper]").val();
            let user_fraction_divide_input_lower = $("input[name=fraction_divide_input_lower]").val();
            user_fraction_divide_input_upper = parseInt(user_fraction_divide_input_upper);
            user_fraction_divide_input_lower = parseInt(user_fraction_divide_input_lower);
            if (answer_upper == user_fraction_divide_input_upper && answer_lower == user_fraction_divide_input_lower) {

                $("#fraction_divide_check_span").text("맞았습니다.");
            } else {

                $("#fraction_divide_check_span").text("틀렸습니다.");
            }
        }

        // 분수 사칙연산 새로고침 함수 선언
        function fraction_plus_refresh() {

            fraction_plus_upper_first = Math.floor(Math.random() * 10);
            while (fraction_plus_upper_first == 0) {

                fraction_plus_upper_first = Math.floor(Math.random() * 10);
            }
            fraction_plus_lower_first = Math.floor(Math.random() * 10);
            while (fraction_plus_lower_first == 0) {

                fraction_plus_lower_first = Math.floor(Math.random() * 10);
            }
            fraction_plus_upper_second = Math.floor(Math.random() * 10);
            while (fraction_plus_upper_second == 0) {

                fraction_plus_upper_second = Math.floor(Math.random() * 10);
            }
            fraction_plus_lower_second = Math.floor(Math.random() * 10);
            while (fraction_plus_lower_second == 0) {

                fraction_plus_lower_second = Math.floor(Math.random() * 10);
            }

            $("#fraction_plus_upper_first").text(`${fraction_plus_upper_first}`);
            $("#fraction_plus_lower_first").text(`${fraction_plus_lower_first}`);
            $("#fraction_plus_upper_second").text(`${fraction_plus_upper_second}`);
            $("#fraction_plus_lower_second").text(`${fraction_plus_lower_second}`);

            $("#fraction_plus_input_upper").val('');
            $("#fraction_plus_input_lower").val('');

            $("#fraction_plus_check_span").empty();
        }

        function fraction_minus_refresh() {

            fraction_minus_upper_first = Math.floor(Math.random() * 10);
            while (fraction_minus_upper_first == 0) {

                fraction_minus_upper_first = Math.floor(Math.random() * 10);
            }
            fraction_minus_lower_first = Math.floor(Math.random() * 10);
            while (fraction_minus_lower_first == 0) {

                fraction_minus_lower_first = Math.floor(Math.random() * 10);
            }
            fraction_minus_upper_second = Math.floor(Math.random() * 10);
            while (fraction_minus_upper_second == 0) {

                fraction_minus_upper_second = Math.floor(Math.random() * 10);
            }
            fraction_minus_lower_second = Math.floor(Math.random() * 10);
            while (fraction_minus_lower_second == 0) {

                fraction_minus_lower_second = Math.floor(Math.random() * 10);
            }
            while ((fraction_minus_upper_first / fraction_minus_lower_first) - (fraction_minus_upper_second / fraction_minus_lower_second) <= 0) {

                fraction_minus_upper_first = Math.floor(Math.random() * 10);
                while (fraction_minus_upper_first == 0) {

                    fraction_minus_upper_first = Math.floor(Math.random() * 10);
                }

                fraction_minus_lower_first = Math.floor(Math.random() * 10);
                while (fraction_minus_lower_first == 0) {

                    fraction_minus_lower_first = Math.floor(Math.random() * 10);
                }

                fraction_minus_upper_second = Math.floor(Math.random() * 10);
                while (fraction_minus_upper_second == 0) {

                    fraction_minus_upper_second = Math.floor(Math.random() * 10);
                }

                fraction_minus_lower_second = Math.floor(Math.random() * 10);
                while (fraction_minus_lower_second == 0) {

                    fraction_minus_lower_second = Math.floor(Math.random() * 10);
                }
            }

            $("#fraction_minus_upper_first").text(`${fraction_minus_upper_first}`);
            $("#fraction_minus_lower_first").text(`${fraction_minus_lower_first}`);
            $("#fraction_minus_upper_second").text(`${fraction_minus_upper_second}`);
            $("#fraction_minus_lower_second").text(`${fraction_minus_lower_second}`);

            $("#fraction_minus_input_upper").val('');
            $("#fraction_minus_input_lower").val('');

            $("#fraction_minus_check_span").empty();
        }

        function fraction_multiply_refresh() {

            fraction_multiply_upper_first = Math.floor(Math.random() * 10);
            while (fraction_multiply_upper_first == 0) {

                fraction_multiply_upper_first = Math.floor(Math.random() * 10);
            }
            fraction_multiply_lower_first = Math.floor(Math.random() * 10);
            while (fraction_multiply_lower_first == 0) {

                fraction_multiply_lower_first = Math.floor(Math.random() * 10);
            }
            fraction_multiply_upper_second = Math.floor(Math.random() * 10);
            while (fraction_multiply_upper_second == 0) {

                fraction_multiply_upper_second = Math.floor(Math.random() * 10);
            }
            fraction_multiply_lower_second = Math.floor(Math.random() * 10);
            while (fraction_multiply_lower_second == 0) {

                fraction_multiply_lower_second = Math.floor(Math.random() * 10);
            }

            $("#fraction_multiply_upper_first").text(`${fraction_multiply_upper_first}`);
            $("#fraction_multiply_lower_first").text(`${fraction_multiply_lower_first}`);
            $("#fraction_multiply_upper_second").text(`${fraction_multiply_upper_second}`);
            $("#fraction_multiply_lower_second").text(`${fraction_multiply_lower_second}`);

            $("#fraction_multiply_input_upper").val('');
            $("#fraction_multiply_input_lower").val('');

            $("#fraction_multiply_check_span").empty();
        }

        function fraction_divide_refresh() {

            fraction_divide_upper_first = Math.floor(Math.random() * 10);
            while (fraction_divide_upper_first == 0) {

                fraction_divide_upper_first = Math.floor(Math.random() * 10);
            }
            fraction_divide_lower_first = Math.floor(Math.random() * 10);
            while (fraction_divide_lower_first == 0) {

                fraction_divide_lower_first = Math.floor(Math.random() * 10);
            }
            fraction_divide_upper_second = Math.floor(Math.random() * 10);
            while (fraction_divide_upper_second == 0) {

                fraction_divide_upper_second = Math.floor(Math.random() * 10);
            }
            fraction_divide_lower_second = Math.floor(Math.random() * 10);
            while (fraction_divide_lower_second == 0) {

                fraction_divide_lower_second = Math.floor(Math.random() * 10);
            }

            $("#fraction_divide_upper_first").text(`${fraction_divide_upper_first}`);
            $("#fraction_divide_lower_first").text(`${fraction_divide_lower_first}`);
            $("#fraction_divide_upper_second").text(`${fraction_divide_upper_second}`);
            $("#fraction_divide_lower_second").text(`${fraction_divide_lower_second}`);

            $("#fraction_divide_input_upper").val('');
            $("#fraction_divide_input_lower").val('');

            $("#fraction_divide_check_span").empty();
        }

        /* 두 시간의 합 */
        // 두 시간의 초기값 설정
        let first_time_hour = Math.floor(Math.random() * 10);
        let first_time_minute = Math.floor(Math.random() * 60);
        let second_time_hour = Math.floor(Math.random() * 10);
        let second_time_minute = Math.floor(Math.random() * 60);

        $("#first_time_hour").text(`${first_time_hour}`);
        $("#first_time_minute").text(`${first_time_minute}`);
        $("#second_time_hour").text(`${second_time_hour}`);
        $("#second_time_minute").text(`${second_time_minute}`);

        // 정답 확인 함수 선언
        function sum_of_time_check() {

            let answer_hour = first_time_hour + second_time_hour;
            let answer_minute = first_time_minute + second_time_minute;

            console.log("answer_hour :", answer_hour);
            console.log("answer_minute :", answer_minute);

            let answer_minute_share = parseInt(answer_minute / 60);
            let answer_minute_remainder = answer_minute % 60;

            console.log("answer_minute_share :", answer_minute_share);
            console.log("answer_minute_remainder :", answer_minute_remainder);

            answer_hour = answer_hour + answer_minute_share;
            answer_minute = answer_minute_remainder;

            console.log("final_answer_hour ;", answer_hour);
            console.log("final_answer_minute ;", answer_minute);

            let user_hour_input = parseInt($("input[name=hour_input]").val());
            let user_minute_input = parseInt($("input[name=minute_input]").val());

            if (answer_hour == user_hour_input && answer_minute == user_minute_input) {

                $("#sum_of_time_check_span").text("정답입니다.");
            } else {

                $("#sum_of_time_check_span").text("틀렸습니다.");
            }
        }

        // 새로고침 함수 선언
        function sum_of_time_refresh() {

            first_time_hour = Math.floor(Math.random() * 10);
            first_time_minute = Math.floor(Math.random() * 60);
            second_time_hour = Math.floor(Math.random() * 10);
            second_time_minute = Math.floor(Math.random() * 60);

            $("#first_time_hour").text(`${first_time_hour}`);
            $("#first_time_minute").text(`${first_time_minute}`);
            $("#second_time_hour").text(`${second_time_hour}`);
            $("#second_time_minute").text(`${second_time_minute}`);

            $("#sum_of_time_check_span").empty();
            $("#hour_input").val('');
            $("#minute_input").val('');
        }

        /* 원주 구하기 */
        // ajax로 circle 이미지 불러오기
        $.ajax({
            type: "GET", // GET 방식으로 요청한다.
            url: "/circle_img_process",
            data: {}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
            success: function(response) { // 서버에서 준 결과를 response라는 변수에 담음

                let circle_path = response["circle_path"]; // 서버에서 준 결과를 이용해서 나머지 코드를 작성
                let radius = response["radius"];
                console.log(circle_path, typeof(circle_path));
                console.log(radius, typeof(radius));
                $("#circle_span").append(`<img src=${circle_path}>`);
                $("#radius_span").text(`${radius}`);
            }
        })

        function circle_check() {

            let radius_span_val = parseFloat($("#radius_span").text());
            console.log(radius_span_val, typeof(radius_span_val));
            let user_answer = $("input[name=circle_user_input]").val();
            if (user_answer == radius_span_val * 2) {

                $("#circle_check_span").text("맞았습니다.");
            } else {

                $("#circle_check_span").text("틀렸습니다.");
            }
        }

        function circle_refresh() {

            $("#circle_span").empty();
            $.ajax({
                type: "GET", // GET 방식으로 요청한다.
                url: "/circle_img_process",
                data: {}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
                success: function(response) { // 서버에서 준 결과를 response라는 변수에 담음

                    let circle_path = response["circle_path"]; // 서버에서 준 결과를 이용해서 나머지 코드를 작성
                    let radius = response["radius"];
                    console.log(circle_path, typeof(circle_path));
                    console.log(radius, typeof(radius));
                    $("#circle_span").append(`<img src=${circle_path}>`);
                    $("#radius_span").text(`${radius}`);
                    $("#circle_user_input").val('');
                    $("#circle_check_span").empty();
                }
            })
        }
    </script>
</body>

</html>