<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='/js/food_order_assignment.js') }}"></script> -->
    <script>
        function button1_click() {

            if ($("#input1").val() != "" && $("#input2").val() != "" && $("#input3").val() != "" && $("#count_select option:selected").text() != "수량 지정") {
                $.ajax({

                    type: "POST",
                    url: "/customer_info_process",
                    data: {
                        username: $("#input1").val(),
                        select: $("#count_select option:selected").text(),
                        address: $("#input2").val(),
                        phone_number: $("#input3").val()
                    },
                    success: function (res) {

                        // console.log(res[0]["address"])
                        $("#table_body").empty()
                        for (let i = 0; i < res.length; i++) {
                            $("#table_body").append(
                                `
                                <tr>
                                    <td>${res[i]["name"]}</td>
                                    <td>${res[i]["select_count"]}</td>
                                    <td>${res[i]["address"]}</td>
                                    <td>${res[i]["phone_number"]}</td>
                                </tr>
                                `)
                        }
                    }
                })

                alert("주문완료")
            }
            else {

                alert("공란을 다 채워주십쇼.")
            }
        }

        $(document).ready(function () {

            $.ajax({

                url: "https://api.manana.kr/exchange/rate.json",
                type: "GET",
                data: {},
                success: function (res) {

                    let rate_result = parseInt(res[1]["rate"])
                    console.log(rate_result);
                    $("#rate").append(`<br>달러-원 환율 : ${rate_result}원`)
                    $("#rate").append(`<br><br>`)
                }
            })
        })
    </script>
    <style>
    </style>
</head>

<body>
    <div class="img">
        <img src="{{ url_for('static', filename='/img/egg.jpeg') }}">
    </div>
    <div class="document">

        <div class="document_title1" style="font-family:'Nanum Brush Script', cursive; font-size: 30px;">
            <p><span class="font">상품 제목</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;가격 : 5000원 / 개 </p>
            <p>에그 타르트는 파이의 한 종류로, 밀가루 반죽을 얇게 펴고 그 위에 계란, 설탕, 생크림, 바닐라향을 섞어 만든 커스터드 크림을 채워 구운 후식이다.</p>
        </div>
        <div id="rate" style="color: blue; font-family: 'Nanum Brush Script', cursive; font-size: 30px;">
        </div>
        <div class="document_title2">
            <div class="document_input">
                <p><span class="font" style="font-family:'Nanum Brush Script', cursive; font-size: 30px;">주문하기</p>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="username">주문자 성함</span>
                    </div>
                    <input id="input1" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <select class="form-control" id="count_select">
                    <option>수량 지정</option>
                    <option>1개</option>
                    <option>2개</option>
                    <option>3개</option>
                    <option>4개</option>
                </select>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="address">주소</span>
                    </div>
                    <input id="input2" type="text" class="form-control" placeholder="address" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="phone_number">전화번호</span>
                    </div>
                    <input id="input3" type="text" class="form-control" placeholder="phone-number" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>

            </div>
        </div>
        <div class="button">
            <button type="button" class="btn btn-primary btn-lg" onclick="button1_click()"
                style="font-family:'Nanum Brush Script', cursive; font-size: 30px;">주문하기</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">개수</th>
                    <th scope="col">주소</th>
                    <th scope="col">휴대전화</th>
                </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
    </div>
</body>

</html>